# Ignorar archivos sensibles
import dropbox.py
subir_dropbox.py
# Ignora archivos sensibles y temporales
# No subir estos archivos a GitHub

*.pyc
__pycache__/
token.json
client_secret_*.json
.env
.DS_Store
*.log
client_secret.json
token2.json
webniovalpdfs.json
C:/Users/PC 1/NIOVALWEB/
